/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    shahcompbio/scrna_demultiplexing Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    lsf {
        executor.name          = 'lsf'
        executor.perJobMemLimit = true
    }
    slurm {
        executor.name          = 'slurm'
        executor.perJobMemLimit = true
    }
    aws{
        executor.name = 'awsbatch'
        queue = 'shahlab-nextflow-ec2'
    }
    eddie{
        executor {
            name = "sge"
        }
        
        process {
            clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
            stageInMode = 'symlink'
            scratch = 'false'
            penv = { task.cpus > 1 ? "sharedmem" : null }
        
            // common SGE error statuses
            errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
            maxErrors = '-1'
            maxRetries = 3
        
            beforeScript =
            """
            . /etc/profile.d/modules.sh
            module load singularity
            export SINGULARITY_TMPDIR="\$TMPDIR"
            """
        }
        
        params {
            // iGenomes reference base
            igenomes_base = '/exports/igmm/eddie/BioinformaticsResources/igenomes'
            max_memory = 384.GB
            max_cpus = 32
            max_time = 240.h
        }
        
        env {
            MALLOC_ARENA_MAX=1
        }
        
        singularity {
            envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
            runOptions = '-p -B "$TMPDIR"'
            enabled = true
            autoMounts = true
            cacheDir = "/exports/igmm/eddie/BioinformaticsResources/nfcore/singularity-images"
        }
    }

}


manifest {
    name            = 'mondrianscwgs/mondrian_nf'
    author          = """Diljot Grewal"""
    homePage        = 'https://github.com/mondrianscwgs/mondrian_nf'
    description     = """Demultiplexing pipeline for GEX, TCR, BCR, Citeseq"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '0.0.1'
}
